.user-management-page {
    display: flex;
}

.user-management-content {
    margin-left: 250px; /* Adjust this value based on the width of your SideNav */
    padding: 20px;
    width: 100%;
}
.UserManagementHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}