.result-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 20px;
    background: rgb(244, 247, 254);
    border-radius: 5px;
    width: 100%;

}

.result-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    color: rgb(43, 54, 116);
}

.result-table {
    width: 100%;
    border-collapse: collapse;
}

.result-table th,
.result-table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

.result-table th {
    background-color: rgb(62, 47, 192);
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.result-table td {
    font-size: 14px;
    color: rgb(82, 82, 82);
}

.result-page {
    display: flex;
    width: 100%;
    height: 100vh;
}

.sidenav {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 290px;
    border-radius: 0px 24px 24px 0px;
    background: linear-gradient(135deg, #2609A5 0%, #656CED 100%);
    padding-left: 15px;
    padding-top: 25px;
}

.sidenav .logo {
    text-align: center;
    margin-bottom: 20px;
}

.sidenav ul {
    padding-left: 5px;
    margin-top: 40px;
}

.sidenav ul li {
    margin-bottom: 20px;
    position: relative;
}

.sidenav ul li a {
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    color: #fff;
    text-decoration: none;
}

.sidenav ul li a span {
    margin-right: 15px;
}

.sidenav ul .active:after {
    content: "";
    position: absolute;
    width: 4px;
    background: #fff;
    right: 0;
    top: 0;
    bottom: 0;
}

.sidenav ul .active a {
    font-weight: 700;
}

.result-content {
    margin-left: 290px;
    padding: 20px;
    width: calc(100% - 290px);
    height: 100vh;

}