/* @media screen and (max-width: 1440px) {
    .heading {
        font-size: 24px;
    }

    .label {
        font-size: 14px;
    }

    .sidenav ul li a {
        font-size: 14px;
    }
    .sidenav {
        width: 220px;
    }
    header {
        margin-left: 220px;
    }
    .main-content {
        margin-left: 220px;
    }
    .sidenav .survey-blk{
        max-width: 85%;
    }
} */